
<ion-content class="ion-padding">
  <h1>Create Account</h1>
  <h3>Sign up to get started</h3>
  <form>
    <app-input label="First Name"></app-input>
    <app-input label="Last Name"></app-input>
    <app-input label="Email ID"></app-input>
    <app-input label="Password" type="password"></app-input>


    <app-button class="footer-text" label='Register As User'></app-button>
    <app-button label='Register As Healthcare Provider'></app-button>

  </form>

  <p class="footer-text">I'm already a member,<a routerLink="#">Sign In</a></p>
  </ion-content>
